.card-list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    // margin: 0 50px 50px 50px;
    column-gap: 50px;
    // outline: 2px solid orangered;
    +p{
        margin-top: 35px;
        font-weight: 500;
    }
}


@media (min-width: 600px) {
    .card-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
    .card-list {
        // outline: 2px solid red;
        // place-items: center;
        grid-template-columns: repeat(3, 1fr);
    }
}