.cart-page {
    display: grid;

    .container {
        .btn-container {
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            place-items: center;
        }

    }
}