.profile-page {
    // background-color: var(--secondary-clr);
    // height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    // font-size: 3rem;

    // justify-content: center;
    .container {
        padding-top: 50px2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 50%;
            max-width: 200px;
        }

        .info-container {
            padding: 20px 50px;
            border-radius: 15px;
            background-color: rgba(255, 255, 255, 0.76);
            text-align: center;
            margin-top: 50px;
            box-shadow: 02px 0px 10px var(--secondary-clr);

            .name {
                font-size: 2rem;
                font-weight: 600;
                color: var(--text-clr);
            }

            p {
                line-height: 200%;
                font-size: 1.2rem;
                color: grey;
            }
        }
    }
}

// @media (min-width: 800px) {
//     .profile-page{
//         .container{
//             img{
//                 ;
//             }
//         }
//     }
// }