@keyframes slideMobilePopup {
  0% {}

  70% {
    left: -20%;
  }

  100% {
    left: 0%;
  }
}

@keyframes slideDesktopPopup {
  0% {
    right: -20%;
  }

  100% {
    right: 5%;

  }
}

.popup {
  position: fixed;
  bottom: 5%;
  background-color: var(--background-clr-v2);
  padding: 20px 50px;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 4000000;
  width: 100vw;
  color: #0AA06E;
  transition: all .2s ease-in-out;
  animation: slideMobilePopup .3s ease-in-out forwards;

  img {
    width: 50px;
    aspect-ratio: 1/1;
  }

  .count {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--text-clr);
    font-size: .9rem;
  }
}

.popup.error {
  color: #FC476E;
}

.popup.warning {
  color: #FFC048;
}

@media (min-width: 800px) {
  .popup {
    width: auto;
    max-width: 600px;
    top: auto;
    bottom: 10%;
    animation: slideDesktopPopup .3s ease-in-out forwards;
  }
}