// .popup {
//   position: fixed;
//   z-index: 11;
//   top: 10%;
//   right: 50%;
//   transform: translate(50%);
//   overflow: hidden;
//   cursor: pointer;
//   .popup-msg {
//     background-color: var(--danger-bg);
//     padding: 12px 25px;
//     border-radius: 3px;
//     color: var(--danger);
//     max-width: 300px;
//     font-weight: var(--medium);
//     position: relative;
//     right: -200%;
//     animation: slideMobilePopup 1s ease-in-out forwards;
//   }
// }
// .popup.success {
//   .popup-msg {
//     background-color: var(--success-bg);
//     color: var(--success);
//   }
// }
// .popup.info {
//   .popup-msg {
//     background-color: var(--info-bg);
//     color: var(--info);
//   }
// }

@keyframes slideMobilePopup {
  0% {}

  70% {
    left: -20%;
  }

  100% {
    left: 0%;
  }
}

@keyframes slideDesktopPopup {
  0% {
    right: -20%;
  }

  100% {
    right: 5%;

  }
}

// @media (min-width: 800px) {
//   .popup {
//     .popup-msg {
//       top: 20%;
//       right: 20%;
//       animation: slideDesktopPopup 1s ease-in-out forwards;
//     }
//   }
// }

.popup {
  position: fixed;
  bottom: 5%;
  background-color: var(--background-clr-v2);
  padding: 20px 50px;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 4000000;
  width: 100vw;
  color: #0AA06E;
  animation: slideMobilePopup .3s ease-in-out forwards;

  img {
    width: 50px;
    aspect-ratio: 1/1;
  }

  .count {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--text-clr);
    font-size: .9rem;
  }
}

.popup.error {
  color: #FC476E;
}

.popup.warning {
  color: #FFC048;
}

@media (min-width: 800px) {
  .popup {
    width: auto;
    max-width: 600px;
    top: auto;
    bottom: 10%;
    animation: slideDesktopPopup .3s ease-in-out forwards;
  }
}