@keyframes slideMobilePopup {
  0% {
    left: -20%;
  }

  100% {
    left: 5%;
  }
}

@keyframes slideDesktopPopup {
  0% {
    right: -20%;
  }

  100% {
    right: 5%;

  }
}

.popup {
  position: fixed;
  bottom: 5%;
  background-color: white;
  padding: 20px 50px;
  border-radius: 15px;
  font-family: 'Montserrat';
  font-weight: 600;
  z-index: 4000000;
  max-width: 90vw;
  color: #0AA06E;
  display: flex;
  align-items: center;
  transition: all .2s ease-in-out;
  animation: slideMobilePopup .3s ease-in-out forwards;

  img {
    width: 30px;
    aspect-ratio: 1/1;
    margin-right: 10px;
  }

  .count {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--text-clr);
    font-size: .9rem;
  }
}

.popup.error {
  color: #FC476E;
}

.popup.warning {
  color: #FFC048;
}

@media (min-width: 800px) {
  .popup {
    width: auto;
    max-width: 600px;
    top: auto;
    bottom: 10%;
    animation: slideDesktopPopup .3s ease-in-out forwards;
  }
}