.spinner-container {
    display: grid;
    place-content: center;

    .spinner {
        width: 50px;
        aspect-ratio: 1/1;
        border: 2px solid white;
        border-radius: 100%;
        animation: spin .5s linear infinite;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}