.spinner-container{
    display: grid;
    place-content: center;
    height: 100%;
    width: 100%;
    .spinner{
        height: 50px;
        width: 50px;
        border: 2px solid var(--primary-clr);
        border-top-color: var(--secondary-clr);
        border-left-color: var(--secondary-clr);
        border-radius: 100%;
    }
    animation: spin .5s linear infinite;
}

@keyframes spin {
    from{}
    to{
        transform: rotate(360deg);
    }
}