.product-page {
    min-height: 100vh;

    .product-info-container {
        font-size: 1.2rem;
        margin: 50px auto;
        display: grid;
        place-items: center;
        .img-container {
            // margin-left: 10%;
            width: 80%;
            aspect-ratio: 1/1;
            border-radius: 25px;
            display: grid;
            place-items: center;

            img {
                width: 100%;
            }
        }

        .info-container {
            max-width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2,
            p {
                color: #3F3D52;
            }

            .title-container {
                margin-bottom: 30px;

                h2 {
                    font-size: 2rem;
                }

            }

            .quality {
                display: flex;

                // .img {
                //     margin-left: 10px;
                //     height: 20px;
                //     width: 20px;
                //     background-color: var(--primary-clr);
                // }
            }

            .device-color {
                margin-top: 10px;
                display: flex;

                .color-box {
                    margin-left: 10px;
                    display: inline-block;
                    height: 30px;
                    width: 30px;
                    border-radius: 7.5px;
                }
            }

            .price-container {
                margin: 25px 0 25px 0;
                color: var(--red);

                .price {
                    font-weight: bold;
                }

                .msg {
                    opacity: .5;
                }
            }

            .buttons {
                width: 100%;
                margin-bottom: 50px;
                display: flex;
                justify-content: space-evenly;
                button:first-child{
                    margin-right: 10px;
                }
            }
        }
    }

    .specs-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;

        h2 {
            margin-bottom: 25px;
            color: var(--text-clr);
            font-weight: 600;
            font-size: 3rem;
        }

        .specs {
            border-collapse: collapse;

            tr:first-child {

                th,
                td {
                    padding-top: 50px;
                }

                // th {
                //     border-top-left-radius: 15px;
                // }
            }

            tr:last-child {

                th,
                td {
                    padding-bottom: 50px;
                    // border-bottom-left-radius: 15px;
                }
            }

            tr {

                th {
                    text-align: left;
                    padding: 15px 50px 15px 50px;
                    background-color: var(--secondary-clr);
                    color: var(--primary-clr);
                    font-weight: 500;
                }

                td {
                    font-weight: normal;
                    padding: 10px;
                    background-color: var(--background-clr-v2);
                }

                td::first-letter {
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media (min-width: 500px) {
    .product-page {
        .product-info-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .specs-container {
            display: grid;
            place-items: center;

            h2{
                place-self: flex-start;
                margin-left: 10%;
            }
            .specs {
                max-width: 80%;
                td {
                    min-width: 300px;
                }

                tr:first-child {

                    th {
                        border-top-left-radius: 15px;
                    }
                }

                tr:last-child {

                    th,
                    td {
                        border-bottom-left-radius: 15px;
                    }
                }
            }
        }
    }
}

@media (min-width: 800px) {
    .product-page {
        .product-info-container {
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .img-container {
                width: 30%;
                margin-left: 0;
            }

            .info-container {
                width: 50%;

                .buttons {
                    margin-top: 50px;
                    button:first-child{
                        margin-right: 0;
                    }
                }
            }

        }

        .specs-container {

            h2 {
                align-self: flex-start;
            }

        }
    }
}