header {
    position: sticky;
    z-index: 99999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--background-clr-v2);

    .logo-container {
        font-size: .75rem;
    }

    .logged-in {
        width: 35%;
        max-width: 160px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search-icon {
            height: 30px;
        }

        img {
            height: 40px;
        }
    }

}