.cart-list {
    margin-bottom: 50px;
}

.empty-cart {
    display: grid;
    place-content: center;

    p {
        font-weight: bold;
        color: var(--text-clr);
    }
}

@media (min-width: 500px) {
    .cart-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
    }

}