.cart-list {
    margin: 50px 0;
}

.empty-cart {
    text-align: center;
    img{
        width: 100px;
    }
    p {
        font-size: 2rem;
        font-weight: bold;
        color: var(--text-clr);
        opacity: .5;
    }
}

@media (min-width: 500px) {
    .cart-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
    }

}