.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    input {
        border: 2px solid var(--secondary-clr);
        font-size: 1rem;
        border-radius: 10px;
        padding: 5px 10px;
        font-family: 'Montserrat';
        background-color: var(--background-clr-v2);

        &:focus {
            outline: 2px solid var(--primary-clr);
        }
    }

    img {
        display: block;
        width: 30px;
    }
}