:root {
  --primary-clr: #414395;
  --secondary-clr: #b0b1df;
  --text-clr: #3f3d52;
  --btn-text-clr: #d6d6ee;
  --fade-text-clr: #3f3d52ee;
  --background-clr-v1: #ede1ef;
  --background-clr-v2: #f6f1f8;
  --red: #FC476E;
  --error: #FC476E;
  --info: #FFC048;
  --success: #0AA06E;
  font-family: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  /* background: rgba(128, 128, 128, 0.22); */
  background-color: var(--secondary-clr);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-clr);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  width: 10px;
  background: linear-gradient(180deg, royalblue 0%, var(--primary-clr) 100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

a {
  color: var(--primary-clr);
  text-decoration: none;
  font-weight: 500;
}

.__heading {
  color: var(--text-clr);
  font-weight: 600;
  margin-left: 10%;
}
.__heading.colored{
  color: var(--primary-clr);
}

.__link {
  color: var(--primary-clr);
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
.__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--primary-clr);
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.__click-animation {
  animation: click 0.25s ease-in-out forwards;
}

@media (hover: hover) {
  .__link:hover::after {
    transform: scaleX(1);
  }
}

@keyframes click {
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale {
  to {
    box-shadow: 2px 2px 20px var(--secondary-clr);
    transform: scale(1.05);
  }
}

a{
  color: var(--text-clr);
}